.wy-nav-content{
    max-width: 1000px;
    margin: auto;
}

.rst-content h2 > img {
    width: 30px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 15px;
    margin-left: 15px;
    float: left;
}

